body{
    color: rgb(8, 8, 8);
    background: rgb(179, 23, 23);
}

header {
    border-bottom: solid 2px rgba(12, 12, 12, 0.989);
padding: 2px;
font-size: 32x;
color:rgb(255, 0, 0)

}

section {
    background: rgba(12, 12, 12, 0.989)
    padding-box 80px;
    padding-top: 80px;
}
