body{
    color: rgb(8, 8, 8);
    background: rgb(179, 23, 23);
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgba(12, 12, 12, 0.985);
padding: 2px;
font-size: 32x;
color:rgb(255, 0, 0)

}

section {
    background: rgba(220, 238, 14, 0.989);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}
chamada-texto{
    margin-right: 20px;
}


img {
    height: 300px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap:10px

}

.categoria {

padding-left: 20px;
padding-right: 20px;
margin-top: 50px;


}



.categoria-videos  img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;

}

.categoria h2 {

    color: blue;
}

